---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Portfolio | Alexandru Kovacs">
	<a href="/">Inicio</a>
	<a href="/about/">Sobre mi</a>
	<a href="/blog/">Blog</a>
    <main>
        <h1>Mi blog de Astro aprendizaje</h1>
        <p>Aquí es donde voy a postear sobre mi viaje de aprendizaje Astro.</p>
    </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1rem;
    width: 800px;
    max-width: calc(100% - 2rem);
    color: white;
    font-size: 20px;
    line-height: 1.6;
  }
</style>
