---
import BaseLayout from '../layouts/BaseLayout.astro';
import Greeting from '../components/Greeting.jsx';

const pageTitle = "Inicio | Alexandru Kovacs";
const pageDescription = 'Inicio';
---

<BaseLayout pageTitle={pageTitle}>
    <h2 class="text-3xl font-bold underline">My awesome blog subtitle</h2>
    <Greeting client:load messages={["Hej", "Hallo", "Hola", "Habari"]} />
</BaseLayout>