---
import Layout from "../layouts/Layout.astro";

const title = 'Tailwind Tests';

---

<Layout title={title}>

    <!-- Toast Notification -->
    <h2 class="text-center py-4 text-lg">Toast Notification</h2>
    <div class="p-6 max-w-sm mx-auto bg-white rounded-xl shadow-lg flex items-center space-x-4">
        <div class="shrink-0">
            <svg class="h-12 w-12" viewBox="0 0 40 40" xmlns="http://www.w3.org/2000/svg"><defs><linearGradient x1="50%" y1="0%" x2="50%" y2="100%" id="a"><stop stop-color="#2397B3" offset="0%"></stop><stop stop-color="#13577E" offset="100%"></stop></linearGradient><linearGradient x1="50%" y1="0%" x2="50%" y2="100%" id="b"><stop stop-color="#73DFF2" offset="0%"></stop><stop stop-color="#47B1EB" offset="100%"></stop></linearGradient></defs><g fill="none" fill-rule="evenodd"><path d="M28.872 22.096c.084.622.128 1.258.128 1.904 0 7.732-6.268 14-14 14-2.176 0-4.236-.496-6.073-1.382l-6.022 2.007c-1.564.521-3.051-.966-2.53-2.53l2.007-6.022A13.944 13.944 0 0 1 1 24c0-7.331 5.635-13.346 12.81-13.95A9.967 9.967 0 0 0 13 14c0 5.523 4.477 10 10 10a9.955 9.955 0 0 0 5.872-1.904z" fill="url(#a)" transform="translate(1 1)"></path><path d="M35.618 20.073l2.007 6.022c.521 1.564-.966 3.051-2.53 2.53l-6.022-2.007A13.944 13.944 0 0 1 23 28c-7.732 0-14-6.268-14-14S15.268 0 23 0s14 6.268 14 14c0 2.176-.496 4.236-1.382 6.073z" fill="url(#b)" transform="translate(1 1)"></path><path d="M18 17a2 2 0 1 0 0-4 2 2 0 0 0 0 4zM24 17a2 2 0 1 0 0-4 2 2 0 0 0 0 4zM30 17a2 2 0 1 0 0-4 2 2 0 0 0 0 4z" fill="#FFF"></path></g></svg>
        </div>
        <div>
            <div class="text-xl font-medium text-black">ChitChat</div>
            <p class="text-slate-500">You have a new message!</p>
        </div>
    </div>

    <!-- Card Example -->
    <h2 class="text-center py-4 text-lg">Card</h2>
    <div class="py-8 px-8 max-w-sm mx-auto bg-white rounded-lg shadow-lg space-y-2 sm:py-2 sm:flex sm:items-center sm:space-y-0 sm:space-x-6">
        <img class="block mx-auto h-24 rounded-full sm:mx-0 sm:shrink-0" src="https://tailwindcss.com/img/erin-lindford.jpg" alt="Woman's Face" />
        <div class="text-center space-y-2 sm:text-left">
            <div class="space-y-0.5">
                <p class="text-lg text-black font-semibold">
                    Erin Lindford
                </p>
                <p class="text-slate-500">
                    Product Engineer
                </p>
            </div>
            <button class="px-4 py-1 text-sm text-purple-600 font-semibold rounded-lg border border-purple-200 hover:text-white hover:bg-purple-600 hover:border-transparent focus:outline-none focus:ring-2 focus:ring-purple-600 focus:ring-offset-1">Message</button>
        </div>
    </div>

    <!-- Button Example -->
    <h2 class="text-center py-4 text-lg">Button</h2>
    <button class="bg-sky-500 hover:bg-sky-700 max-w-sm mx-auto sm:flex text-center rounded-3xl text-white px-5 py-1.5 font-semibold my-1">
        Save changes
    </button>

    <button class="bg-violet-500 hover:bg-violet-600 active:bg-violet-700 focus:outline-none focus:ring focus:ring-violet-300 sm:flex mx-auto text-white px-5 py-1.5 font-semibold rounded-3xl my-1">
        Save changes
    </button>

    <!-- First, last, odd and even -->
    <h2 class="text-center py-4 text-lg">First, last, odd and even</h2>
    <ul role="list" class="p-6 divide-y divide-slate-200 max-w-md mx-auto">
        <li class="flex py-4 firt:pt-0 last:pb-0">
            <img class="h-10 w-10 rounded-full" alt="Face" src="https://images.unsplash.com/photo-1550525811-e5869dd03032?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80">
            <div class="ml-3 overflow-hidden">
                <p class="text-sm font-medium text-slate-900">Kristen Ramos</p>
                <p class="text-sm text-slate-500 truncate">kristen.ramos@example.com</p>
            </div>
        </li>
        <li class="flex py-4 firt:pt-0 last:pb-0">
            <img class="h-10 w-10 rounded-full" alt="Face" src="https://images.unsplash.com/photo-1463453091185-61582044d556?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80">
            <div class="ml-3 overflow-hidden">
                <p class="text-sm font-medium text-slate-900">Floyd Miles</p>
                <p class="text-sm text-slate-500 truncate">floyd.miles@example.com</p>
            </div>
        </li>
        <li class="flex py-4 firt:pt-0 last:pb-0">
            <img class="h-10 w-10 rounded-full" alt="Face" src="https://images.unsplash.com/photo-1438761681033-6461ffad8d80?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80">
            <div class="ml-3 overflow-hidden">
                <p class="text-sm font-medium text-slate-900">Courtney Henry</p>
                <p class="text-sm text-slate-500 truncate">courtney.henry@example.com</p>
            </div>
        </li>
        <li class="flex py-4 firt:pt-0 last:pb-0">
            <img class="h-10 w-10 rounded-full" alt="Face" src="https://images.unsplash.com/photo-1500648767791-00dcc994a43e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80">
            <div class="ml-3 overflow-hidden">
                <p class="text-sm font-medium text-slate-900">Ted Fox</p>
                <p class="text-sm text-slate-500 truncate">ted.fox@example.com</p>
            </div>
        </li>
    </ul>

    <!-- Table -->
    <h2 class="text-center py-4 text-lg">Table</h2>
    <table class="mx-auto table">
        <thead class="bg-slate-50 border-b border-slate-200">
            <tr>
                <th class="font-semibold">Name</th>
                <th class="font-semibold">Job Title</th>
                <th class="font-semibold">Email</th>
            </tr>
        </thead>
        <tbody>
            <tr class="odd:bg-white even:bg-slate-100">
                <td  class="px-6 py-4 whitespace-nowrap text-sm font-medium text-slate-900">Jane Cooper</td>
                <td  class="px-6 py-4 whitespace-nowrap text-sm text-slate-600">Regional Paradigm Technician</td>
                <td  class="px-6 py-4 whitespace-nowrap text-sm text-slate-600">jane.cooper@example.com</td>
            </tr>
            <tr class="odd:bg-white even:bg-slate-100">
                <td  class="px-6 py-4 whitespace-nowrap text-sm font-medium text-slate-900">Jane Cooper</td>
                <td  class="px-6 py-4 whitespace-nowrap text-sm text-slate-600">Regional Paradigm Technician</td>
                <td  class="px-6 py-4 whitespace-nowrap text-sm text-slate-600">jane.cooper@example.com</td>
            </tr>
            <tr class="odd:bg-white even:bg-slate-100">
                <td  class="px-6 py-4 whitespace-nowrap text-sm font-medium text-slate-900">Jane Cooper</td>
                <td  class="px-6 py-4 whitespace-nowrap text-sm text-slate-600">Regional Paradigm Technician</td>
                <td  class="px-6 py-4 whitespace-nowrap text-sm text-slate-600">jane.cooper@example.com</td>
            </tr>
            <tr class="odd:bg-white even:bg-slate-100">
                <td  class="px-6 py-4 whitespace-nowrap text-sm font-medium text-slate-900">Jane Cooper</td>
                <td  class="px-6 py-4 whitespace-nowrap text-sm text-slate-600">Regional Paradigm Technician</td>
                <td  class="px-6 py-4 whitespace-nowrap text-sm text-slate-600">jane.cooper@example.com</td>
            </tr>
            <tr class="odd:bg-white even:bg-slate-100">
                <td  class="px-6 py-4 whitespace-nowrap text-sm font-medium text-slate-900">Jane Cooper</td>
                <td  class="px-6 py-4 whitespace-nowrap text-sm text-slate-600">Regional Paradigm Technician</td>
                <td  class="px-6 py-4 whitespace-nowrap text-sm text-slate-600">jane.cooper@example.com</td>
            </tr>
        </tbody>
    </table>

    <!-- NavBar -->
    <h2 class="text-center py-4 text-lg">NavBar</h2>
    <nav class="flex sm:justify-center space-x-4">
        {[
          ['Home', '/dashboard'],
          ['Team', '/team'],
          ['Projects', '/projects'],
          ['Reports', '/reports'],
        ].map(([title, url]) => (
          <a href={url} class="rounded-lg px-3 py-2 text-slate-700 font-medium hover:bg-slate-100 hover:text-slate-900">{title}</a>
        ))}
      </nav>

</Layout>