<!-- <div class="switch-wrapper">
  <div class="sun"></div>
  <div class="toggle-wrapper">
    <input type="checkbox" />
    <label for="switch" id="toggle">Toggle</label>
  </div>
  <div class="moon"></div>
</div> -->


<label class="absolute inline-flex items-center cursor-pointer top-8 right-8">
    <input type="checkbox" id="switch" value="" class="sr-only peer">
    <div class="w-11 h-6 bg-gray-200 peer-focus:outline-none peer-focus:ring-blue-300 dark:peer-focus:ring-blue-800 rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:left-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-rose-500"></div>
</label>
  
